<mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>developer_mode</mat-icon>
      </button>
      <span>Crud Angular</span>
      <span class="example-spacer"></span>
      <a routerLink="/home" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>person_outline</mat-icon>
      </a>
      <a routerLink="/shop"  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>store</mat-icon> 
      </a>
</mat-toolbar>

  
  