<mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>IATEC Crud Angular</span>
      <span class="example-spacer"></span>
      <a routerLink="/home" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>face</mat-icon>
      </a>
      <a routerLink="/shop"  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>shopping_basket</mat-icon>
      </a>
</mat-toolbar>

  
  