<h2 *ngIf="!isChange"  mat-dialog-title>Cadastrar Usuario</h2>
<h2 *ngIf="isChange" mat-dialog-title>Editar Usuario</h2>
<div mat-dialog-content>

  <mat-form-field appearance="fill">
    <mat-label>Matricula</mat-label>
    <input matInput [(ngModel)]="data.matricula">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Data de nascimento</mat-label>
    <input matInput [(ngModel)]="data.date">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>CPF</mat-label>
    <input matInput [(ngModel)]="data.cpf">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>E-mail</mat-label>
    <input type="mail" matInput [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button *ngIf="!isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Criar</button>
  <button *ngIf="isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Editar</button>
</div>
